
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');
/* index style */
.index{

  background-size: cover;

}
.mtoto-header{
  margin-top:15%;
  font-size:120px;
  color:#e84393;
  font-family: 'Gochi Hand', cursive;
}
.t1,.o1{
  color:#0abde3;
  font-family: 'Gochi Hand', cursive;
}
.t2,.o2{
  color:#e84393;
  font-family: 'Gochi Hand', cursive;
}

   @keyframes dropfromabove {
  0% {
    left: 0px; top:-300px;
    font-size: 200px;

}



100%{
  left: 0; top: 0;
}


}

.dot {
  animation-name: dropfromabove;
  animation: dropfromabove 4s;
  animation-direction: alternate;
  position: relative;
  left: 0;
  top: 0;
}
/* End of mtoto header */

/* Form 1 styling linear gradient background*/
#form1, #form2, #form3, #form4 {
	width: 100wh;
	height:auto;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h1, h6 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 45%;
	right: 0;
	left: 0;
}

/* This is a notion for adding new things to test the branch */
.center-form{
  margin: auto;
  width: 40%;
}
.center-form h2{
  padding-bottom: 5%;
  padding-top: 2%;
}
